#CorrectionPanel{
    position: absolute;
    width: 35%;
    height: 45%;
    background-color: #0000003a;
    color:#ffffff3a;
    left: 12rem;
    margin-top: 11rem;
}
.Txt2{
    position: absolute;
    width: 70%;
    top: 5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    list-style: none;
}

#FilterPanel{
    position: absolute;
    width: 30%;
    height: 20%;
    background-color: #0000003a;
    color:#ffffff3a;
    left: 12rem;
    bottom: 1rem;
}
