@media only screen and (min-width: 768px) {
    #Canvas{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 1vw;
    left: 30%;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
}

#FileName{
    position: absolute;
    width: 30%;
    font-size: 1rem;
    top: 10vw;
    right: 0;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

.Btn{
    position: absolute;
    width: 40%;
    height: 100%;
    color: #ffffff3a;
    bottom: 0;
    border-style: none;
    font-size: 13pt;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.Btn:disabled{
    background-color: #0000003a;
    cursor:auto;
}

.Btn:disabled:hover{
    background-color: #0000003a;
    color: #ffffff3a;
}

#X:enabled{
    background-color: #ff2b2b;
    color: #ffffff;
}

#X:enabled:hover{
    background-color: #ffffff;
    color: #ff2b2b;
    font-weight:900;
    transition: 0.5s;
}
#X{
    right: 1rem;
}
#Save{
    left: 1rem;
}

#Save:enabled{
    background-color: #3aa03a;
    color: #ffffff;
}

#Save:enabled:hover{
    background-color: #ffffff;
    color: #3aa03a;
    font-weight: 900;
    transition: 0.5s;
}
}

