
#Canvas{
    position: absolute;
    width: 30%;
    height: 60%;
    right: 12rem;
    margin-top: 11rem;
    background-color:  #070707;
}

#FileName{
    position: absolute;
    width: 30%;
    right: 12rem;
    top: 9rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 13pt;
    color: #ffffff;
}

.Btn{
    bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    color: #ffffff3a;
    border-style: none;
    font-size: 13pt;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}
.Btn:disabled{
    background-color: #0000003a;
    cursor:auto;
}
.Btn:disabled:hover{
    background-color: #0000003a;
    color: #ffffff3a;
}
.CustomBtn{
    position: absolute;
    width: 30%;
    height: 0;
    padding-top: 11.1rem;
    padding-bottom: 12.4rem;
    margin-top: 11rem;
    right: 12rem;
    color: #ffffff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}

#X{
    position: absolute;
    right: 12rem;

}
#X:enabled{
    background-color: #ff2b2b;
    color: #ffffff;
}
#X:enabled:hover{
    background-color: #ffffff;
    color: #ff0707;
    font-weight:900;
    transition: 0.5s;
}
#Save{
    position: absolute;
    right: 18rem;
}
#Save:enabled{
    background-color: #3aa03a;
    color: #ffffff;
}
#Save:enabled:hover{
    background-color: #ffffff;
    color: #3aa03a;
    font-weight: 900;
    transition: 0.5s;
}

.CustomBtn:hover{
    background-color: #ffffff;
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.5s;
}
